<?php include(VIEW_PATH.CONTROLLER_NAME.'/header.html');?>

<p>添加文章</p>
<form method="post" action="/admin/article/modify_ajax">
    文章标题：<input type="text" name="title" value="<?php echo $info['title'];?>"> <br/>
    作者：<input type="text" name="author" value="<?php echo $info['author'];?>"> <br/>
    内容：
<textarea rows="3" cols="20" name="content">
<?php echo $info['content'];?>
</textarea>
    <input type="hidden" name="id" value="<?php echo $info['id'];?>"> <br/>
    <?php if($info['id']) {?>
        <input type="submit" value="编辑">
    <?php }else { ?>
        <input type="submit" value="添加">
    <?php } ?>
</form>

<?php include(VIEW_PATH.CONTROLLER_NAME.'/footer.html');?>

