<?php include(VIEW_PATH.CONTROLLER_NAME.'/header.html');?>
<p>文章列表</p>
{if $article_list}
    <table stype="border-collapse:collapse;" border="1px" bordercolor="#666666" cellspacing="0px" width="960px"  >
        <tr><td>编号</td><td>作者</td><td>标题</td><td>内容</td><td>状态</td><td>创建时间</td><td>操作</td></tr>
        {foreach $article_list as $k => $row }
        <tr>
            <td> {$row['id']}</td>
            <td>{$row['author']}</td>
            <td><a href="/index/article/detail/id/{$row['id']}">{$row['title']}</a></td>
            <td>{$row['content']}</td>
            <td>{$row['statusCn']}</td>
            <td>{$row['date']}</td>
            <td><a href="/admin/article/add/id/{$row['id']}/">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/article/delete/id/{$row['id']}">删除</a></td>
        {/foreach}
        </tr>
    </table>
    {$page_string}
{else}
        没有数据
{/if}
<h3>大于小于
</h3>
{if condition="$num gt 10"}
大于10
{elseif condition="$num lt 10"}
小于10
{else}
等于10
{/if}
<h3>判断是否在里面</h3>
<in name='num' value="12,24"> 在<else/>不在</in>
<br>
<h3>三元运算</h3>
{$num}
{$num?"不大于10":"大于10"}
<br/>
<?php include(VIEW_PATH.CONTROLLER_NAME.'/footer.html');?>
